body{
    background-size: cover;
}
h1{
    font-family: 'Rowdies', cursive;
    color: white;
    font-size: 45px;
}
button{
    font-size: 25px;
    border-color: white;
    border-style: none;
    border-radius: 50px;
    margin: 2px;
    padding: 20px;
}
img:not(#photo){
    border-radius: 20px;
    width: 200px;
}
.linerow{
    display: inline-block;
}
#photo{
    padding: 10px;
}
