body{
    background-size: cover;
}
h1{
    font-family: 'Rowdies', cursive;
    color: white;
    font-size: 45px;
}
button{
    font-size: 25px;
    border-color: white;
    border-style: none;
    border-radius: 50px;
    margin: 2px;
    padding: 20px;
}
img:not(#photo){
    border-radius: 20px;
    width: 200px;
}
.linerow{
    display: inline-block;
}
#photo{
   margin-bottom: 20px; 
   margin-right: 5px;
}
#TabPhoneOrPc{
    color: black;
    font-size: 60px;
    position:relative;
    height:99%;
    width:99%;
    
}